@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
  --primaryc: #5c1a8c;
  --secondaryc: #2d2969;
  --accentc: #89239e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 500;
}
h2 {
  font-size: 1.875rem;
  line-height: 1.3;
  font-weight: 400;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
}
p {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
}
a {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 500;
  text-decoration: none;
  color: var(--foreground);
  position: relative;
  opacity: 80%;
}

a::before {
  content: "";
  background: linear-gradient(to right, var(--foreground) 45%, rgba(237, 237, 237, 0.3) 55%);
  background-size: 220% 100%;
  background-position: 100% 50%;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  transition: .3s ease-out;
}

a:hover::before {
  background-position: 0% 50%;
}

a:focus::before {
  background: linear-gradient(to right, var(--primaryc) 100%, rgba(137, 35, 158, 0.3) 55%);
  background-position: 0% 50%;
}


@media (min-width: 640px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.875rem;
  }
  p {
    font-size: 1.25rem;
  }
  a {
    font-size: 1.25rem;
  }
}

a:hover {
  opacity: 100%;
  cursor: pointer;
}

